 * {
     padding: 0px;
     margin: 0px;
     box-sizing: 0;
 }

 html {
     text-align: center;
     font-family: monospace;
 }

 .title {
     background-color: #92AECF;
     font-size: 5.5Em;
     font-family: 'Syne Mono', monospace;

 }

 .container {
     display: flex;
     min-height: 95vh;
     height: 70vh;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     background-color: #92AECF;
 }


 .btn-container {
     display: grid;
     grid-template-columns: repeat(4, 90px);
     grid-template-rows: repeat(6, 70px);
     gap: 5px;
     border: 10px solid #4B4453;
     border-radius: 5px;
     text-shadow: 1px 2px 1px #000000;
     background-color: #424242;

 }




 .result {
     grid-area: 1 / 1 / 2 / 5;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     align-items: flex-start;
     background-color: #D5CABD;
     font-weight: bold;
     font-size: 5.5em;
     border: 5px solid black;
     padding: 5px;
 }

 button {
     border: none;
     border-radius: 5%;
     font-family: monospace;
     font-weight: initial;
     font-size: 2em;

 }

 .item {
     cursor: pointer;
 }


 /* COLORS */
 .numbers {
     background-color: #768291
 }

 .numbers:hover {
     background-color: rgba(237, 237, 241, 0.685)
 }


 .operator {
     background-color: #E19E20;
 }

 .operator:hover {
     background-color: #d6ac5e;
 }

 .clear1:hover {
     background-color: #fda0b9d3;
 }


 /* GRID SETTINGS */
 .clear1 {
     grid-area: 2 / 1 / 3 / 4;
     background-color: #fa4374d3;
 }

 .divide {
     grid-area: 2 / 4 / 3 / 5;

 }

 .seven {
     grid-area: 3 / 1 / 4 / 2;
 }

 .eight {
     grid-area: 3 / 2 / 4 / 3;
 }

 .nine {
     grid-area: 3 / 3 / 4 / 4;
 }

 .multiply {
     grid-area: 3 / 4 / 4 / 5;

 }

 .four {
     grid-area: 4 / 1 / 5 / 2;
 }

 .five {
     grid-area: 4 / 2 / 5 / 3;
 }

 .six {
     grid-area: 4 / 3 / 5 / 4;
 }

 .sub {
     grid-area: 4 / 4 / 5 / 5;

 }

 .one {
     grid-area: 5 / 1 / 6 / 2;
 }

 .two {
     grid-area: 5 / 2 / 6 / 3;
 }

 .three {
     grid-area: 5 / 3 / 6 / 4;
 }

 .add {
     grid-area: 5 / 4 / 6 / 5;

 }

 .zero {
     grid-area: 6 / 1 / 7 / 2;
 }

 .dot {
     grid-area: 6 / 2 / 7 / 3;
 }

 .equal {
     grid-area: 6 / 3 / 7 / 5;
     background-color: #7FD1AE;
 }

 .equal:hover {
     background-color: lightgreen;
 }